
/*Roboto-Condensed-Bold*/
/*Roboto-Condensed-Regular*/
/*Roboto-Condensed-Light*/
/*Roboto-Condensed-Italic*/


$socials_color: #7ACEC3;
$socials_second_color: #FD5000;
$adress_font: 13px Roboto-Condensed-Regular;


* {
	box-sizing: border-box;
}

.image-main {
		width: 100%;
}

.list {
	list-style: none;
	padding-left: 0;

	.list-item {
		color: #393d3c;
		font: 18px Roboto-Condensed-Regular;
		font-weight: 400;
		line-height: 18px;
		text-transform: uppercase;

		@media screen and (max-width: 768px) and (min-width: 481px){
			font-size: 15px;
		}

		@media screen and (max-width: 480px) and (min-width: 320px){
			font-size: 11px;
			line-height: 11px;
		}
	}
}
.logo-socials {
	padding-top: 35px;
	padding-left: 20px;

	.logo-socials-link {
		font-size: 22px;
		color: $socials_color;
		margin-right: 3px;

		@media screen and (max-width: 768px) and (min-width: 481px){
			margin-right: 20px;
		}

		@media screen and (max-width: 480px) and (min-width: 320px){
			margin-right: 12px;
		}


		&:hover {
			color: $socials_second_color;
		} 
	} 
}

.adress,
.number {
	font: $adress_font;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;

	@media screen and (max-width: 992px) and (min-width: 769px){
		font: 12px Roboto-Condensed-Light;
	}

	p {
		line-height: 14px;
		margin: 0;
	}
}

.header-main {
	color: #fefefe;
	font: 48px Roboto-Condensed-Regular;
	font-weight: 400;
	line-height: 14px;
	text-transform: uppercase; 

	@media screen and (max-width: 1200px) and (min-width: 993px){
		font-size: 35px;
	}

	@media screen and (max-width: 992px) and (min-width: 769px){
		font-size: 25px;
	}
}

.name-header {
	color: #333;
	font: 24px Roboto-Condensed-Light;
	text-transform: uppercase;
	margin-top: 0;
}

.name-list {
	padding-left: 0;
	margin-bottom: 0;

	@media screen and (max-width: 1200px) and (min-width: 320px){
		display: none;
	}
}

.name-list-item {
	list-style: none;
	color: #333;
	font: 12px Roboto-Condensed-Regular;
	font-weight: 700;
	line-height: 12px;
	text-transform: uppercase;
}

.list-span {
	font-family: Roboto-Condensed-Light;
}

.name-link {
	font: 13px Roboto-Condensed-Regular;
	color: #fff;
	font-weight: 400;
	line-height: 15px;
	text-transform: uppercase;

	&:hover {
		color: #000;
		text-decoration: none;

		&:hover:before {

			content:"\f178";
			font-family: FontAwesome;
			color: #fff;
			margin-left: -18px;
    		padding-right: 5px;
		}
	}
}

.link-view {
	color: #333;
	font: 18px Roboto-Condensed-Light;
	font-weight: 300;
	line-height: 12px;
	text-transform: uppercase;

	@media screen and (max-width: 992px) and (min-width: 769px){
		font-size: 16px;
	}	

	&:hover {
		text-decoration: none;
		color: $socials_color;
	}
		
	&:before {
		content:"\f178";
		font-family: FontAwesome;
		color: #EBB240;
		margin-left: -18px;
		padding-right: 5px;
		padding-left: 20px;
	}
}

.rate {
	@media screen and (max-width: 1200px) and (min-width: 320px){
		display: none;
	}
	
	.rate-heart {
		color: #333;
		font-size: 20px;
	}

	.rating {
		color: #F56D6D;
		font: 11px Roboto-Condensed-Light;
		font-weight: 300;
		line-height: 12px;
		text-transform: uppercase;
	}			
}

.block-height {
		position: relative;
		
		height: 472px;

		@media screen and (max-width: 1200px) and (min-width: 993px){
			height: 397px;	
		}

		@media screen and (max-width: 992px) and (min-width: 769px){
			height: 100px;
		}

		@media screen and (max-width: 768px) and (min-width: 481px){
			height: 70px;
			
		}

		@media screen and (max-width: 480px) and (min-width: 320px){
			height: 50px;
		}

		.news-name-header,
		.studio-name-header {
			position: absolute;
			top: 59%;
			left: 46%;

			@media screen and (max-width: 992px) and (min-width: 769px){
				position: static;
				margin: 0;
			    text-align: center;
			    line-height: 100px;
			}

			@media screen and (max-width: 768px) and (min-width: 481px){
				position: static;
				margin: 0;
			    text-align: center;
			    line-height: 70px;
			    font-size: 30px;
			}

			@media screen and (max-width: 480px) and (min-width: 320px){
				position: static;
				margin: 0;
			    text-align: center;
			    line-height: 51px;
			    font-size: 24px;
			}
		}
	}

@mixin close-icon {
	display: none;
	@media screen and (max-width: 768px) and (min-width: 481px){
		display: block;
		font-size: 30px;
		color: #fff;
		cursor: pointer;
	}	

	@media screen and (max-width: 480px) and (min-width: 320px){
		display: block;
		font-size: 30px;
		color: #fff;
		cursor: pointer;
	}						
}

@mixin pop-up-list {
	@media screen and (max-width: 768px) and (min-width: 481px){
		position: absolute;
		top: 10%;
		left: 2%;
		z-index: 5;
		background: $socials_color;
		padding: 10px 0 20px;
		text-align: center; 
		display: none;
	}

	@media screen and (max-width: 480px) and (min-width: 320px){
		position: absolute;
		top: 10%;
		left: 2%;
		z-index: 5;
		background: $socials_color;
		padding: 10px 0 20px;
		text-align: center; 
		display: none;
	}
}

@mixin menu-icon {
	display: none;

	@media screen and (max-width: 768px) and (min-width: 481px){				
		display: block;	
		font-size: 25px;
		color: #fff;
		padding-left: 55px;
		cursor: pointer;
		line-height: 70px;
	}

	@media screen and (max-width: 480px) and (min-width: 320px){				
		display: block;	
		font-size: 25px;
		color: #fff;
		padding-left: 55px;
		cursor: pointer;
		line-height: 51px;
	}
}

@mixin pop-up-link($pop-up-margin) {
	@media screen and (max-width: 768px) and (min-width: 481px){
		font: 14px Roboto-Condensed-Regular;
		color: #fff;
		font-weight: 400;
		text-transform: uppercase;
		line-height: 30px;
		margin: $pop-up-margin;

		&:hover {
			text-decoration: underline;
			color: #fff;

			&:hover:before {
				content: "";
				margin-left: 0;
				padding-right: 0;
				padding-left: 0;
			}
		}
	}

	@media screen and (max-width: 480px) and (min-width: 320px){
		font: 14px Roboto-Condensed-Regular;
		color: #fff;
		font-weight: 400;
		text-transform: uppercase;
		line-height: 30px;
		margin: $pop-up-margin;

		&:hover {
			text-decoration: underline;
			color: #fff;

			&:hover:before {
				content: "";
				margin-left: 0;
				padding-right: 0;
				padding-left: 0;
			}
		}
	}
}




/*---HEADER---*/

.header-row {
	position: relative;

	.header-menu-list {
		display: none;
		position: absolute;
		top: 10%;
		right: 8.3%;
		z-index: 2;
		background-color: #F8C255;

		@media screen and (max-width: 1200px) and (min-width: 993px){
			top: 5%;
   			right: 8%;
		}

		@media screen and (max-width: 992px) and (min-width: 769px){
			top: 10%;
			right: 8%;
		}

		@media screen and (max-width: 768px) and (min-width: 481px){
			top: 51%;
			right: 40%;
		}

		@media screen and (max-width: 480px) and (min-width: 320px){
			top: 80%;
			right: 65%;
		}

		ul {
			list-style: none;
			float: left;
			margin-bottom: 0;
			padding: 40px 20px;

			@media screen and (max-width: 1200px) and (min-width: 993px){
			padding: 30px 10px;
			}

			@media screen and (max-width: 992px) and (min-width: 769px){
				padding: 20px 0;
			}

			@media screen and (max-width: 768px) and (min-width: 481px){
				padding: 50px 0 20px;
				text-align: center;
				float: left;
				margin-bottom: 0;
			}

			@media screen and (max-width: 480px) and (min-width: 320px){
				padding: 50px 0 20px;
				text-align: center;
				float: left;
				margin-bottom: 0;
			}

			li {
				display: inline;

				@media screen and (max-width: 768px) and (min-width: 481px){
					display: block;
				}

				@media screen and (max-width: 480px) and (min-width: 320px){
					display: block;
				}
				
				a {
					color: #fff;
					font: 14px Roboto-Condensed-Regular;
					font-weight: 400;
					line-height: 25px;
					text-transform: uppercase;
					margin: 20px;

					@media screen and (max-width: 992px) and (min-width: 769px){
						font: 13px Roboto-Condensed-Light;
						margin: 15px;
					}

					@media screen and (max-width: 768px) and (min-width: 481px){
						line-height: 30px;
					}

					@media screen and (max-width: 480px) and (min-width: 320px){
						line-height: 30px;
					}
				}
			}
		}

		.menu-list-close {
			padding: 35px;
			font-size: 35px;
    		color: #fff;
    		cursor: pointer;

    		@media screen and (max-width: 1200px) and (min-width: 993px){
    			padding: 25px;
    		}

    		@media screen and (max-width: 992px) and (min-width: 769px){
    			padding: 18px;
    			font-size: 30px;
    		}

    		@media screen and (max-width: 768px) and (min-width: 481px){
    			padding: 15px 0 0;
    			text-align: center;
    			margin-left: -62px;
    			font-size: 30px;
    		}

    		@media screen and (max-width: 480px) and (min-width: 320px){
    			padding: 15px 0 0;
    			text-align: center;
    			margin-left: -62px;
    			font-size: 30px;
    		}
		}
	}
}

.header-img {
	position: relative;
	padding: 0;

	.header-image {
		background-color: #E9EAE2;
	}	

	.header-logo {
		position: absolute;
		top: 50px;
		left: 170px; 

		@media screen and (max-width: 1200px) and (min-width: 993px){
			top: 25px;
			left: 100px; 
		}

		@media screen and (max-width: 992px) and (min-width: 769px){
			top: 25px;
			left: 25px; 
		}

		@media screen and (max-width: 768px) and (min-width: 481px){
			top: 20px;
			left: 40px;
		}

		@media screen and (max-width: 480px) and (min-width: 320px){
			top: 10px;
			left: 20px;
		}

		.logo-image {
			width: 70%;

			@media screen and (max-width: 768px) and (min-width: 481px){
				width: 40%;
			}

			@media screen and (max-width: 480px) and (min-width: 320px){
				width: 25%;
			}
		}

		.logo-socials {
			@media screen and (max-width: 1200px) and (min-width: 993px){
				padding-top: 35px;
				padding-left: 20px;
			}

			@media screen and (max-width: 992px) and (min-width: 769px){
				float: right;
				padding-top: 0;
				margin-top:-35px;
			}

			@media screen and (max-width: 768px) and (min-width: 481px){
				padding-top: 0;
				padding-left: 0;
			}

			@media screen and (max-width: 480px) and (min-width: 320px){
				padding-top: 0;
				padding-left: 0;

				.logo-socials-link {
					font-size: 20px;
					margin-right: 15px;
				}
			}
		}
	}
}	

.header-menu {
	height: 451px;
	position: relative;
	background: linear-gradient(-53deg, $socials_color 49.5%, #fff 49.5%, $socials_color 50%);

	@media screen and (max-width: 1200px) and (min-width: 993px){
		height: 327px;
	}

	@media screen and (max-width: 992px) and (min-width: 769px){
		height: 252px;
		background: $socials_color;
	}

	@media screen and (max-width: 768px) and (min-width: 481px){
		height: 252px;
		background: $socials_color;
	}

	@media screen and (max-width: 480px) and (min-width: 320px){
		height: 50px;
		background: $socials_color;
	}

	.header-menu-for-icon {
		text-align: center;

		@media screen and (max-width: 480px) and (min-width: 320px){
			text-align: left;
		}

		.header-menu-icon {
			text-align: center;
			color: #fff;
			font-size: 35px;
			padding: 8% 12%;
    		margin-top: 50px;
			border: 3px solid #fff; 
			cursor: pointer;

			@media screen and (max-width: 1200px) and (min-width: 993px){
				margin-top: 20px;
			}

			@media screen and (max-width: 992px) and (min-width: 769px){
				font-size: 30px;
				border: 1px solid #fff;
				margin-top: 30px;
			}

			@media screen and (max-width: 768px) and (min-width: 481px){
				font-size: 30px;
				border: 1px solid #fff;
				margin-top: 30px;
				padding:30px;
			}

			@media screen and (max-width: 480px) and (min-width: 320px){
				font-size: 25px;
				border: none;
				margin-top: 0;
				padding-left: 40px;
				line-height: 9px;
			}
		}
	}

	.header-adress {
		position: absolute;
		bottom: 180px;
		left: 45px;

		@media screen and (max-width: 1200px) and (min-width: 993px){
			bottom: 150px;
    		left: 20px;
		}

		@media screen and (max-width: 992px) and (min-width: 769px){
			bottom: 70px;
			left: 25px;
		}

		@media screen and (max-width: 768px) and (min-width: 320px){
			display: none;
		}
	}

	.header-number {
		position: absolute;
		bottom: 102px;
		left: 138px;

		@media screen and (max-width: 992px) and (min-width: 769px){
			bottom: 25px;
			left: 25px;
		}

		@media screen and (max-width: 768px) and (min-width: 320px){
			display: none;
		}
	}
}
/*---END OF HEADER---*/


/*--- PROJECT ---*/

.container-projects {
	width: 100%;

/*--- PROJECT-left ---*/

	.projects-left {
		width: 69%;
		float: left;

		@media screen and (max-width: 768px) and (min-width: 320px){
			float: none;
			width: 100%;
		}
						

	/*--- PROJECT-left-up ---*/

		.projects-left-up {
			overflow: hidden;
		
			.projects-left-up-first {
				width: 45%;
				float: left;
				height: 449px;
				position: relative;
				background: linear-gradient(-47deg, #EBB240 49.5%, #fff 49.5%, #EBB240 50%);

				@media screen and (max-width: 1200px) and (min-width: 993px){
					height: 327px;
				}	

				@media screen and (max-width: 992px) and (min-width: 769px){
					height: 251px;
				}	

				@media screen and (max-width: 768px) and (min-width: 481px){
					height: 70px;
					background: #EBB240; 
					float: none;
					width: 100%; 
				}

				@media screen and (max-width: 480px) and (min-width: 320px){
					height: 50px;
					background: #EBB240; 
					float: none;
					width: 100%; 
				}

				.project-menu-icon {
					@include menu-icon;
				}		

				.name-list {
					@media screen and (max-width: 1200px) and (min-width: 320px){
						display: block;
					}
				}

				.left-up-first-text {
					position: absolute;
					top: 30%;
					left: 25%;

					@media screen and (max-width: 1200px) and (min-width: 993px){
						top: 20%;
   						left: 20%;
					}

					@media screen and (max-width: 992px) and (min-width: 769px){
						top: 15%;
   						left: 15%;
					}
					
					@include pop-up-list;	

					.close-icon {
						@include close-icon;
					}

					.name-link {
						@media screen and (max-width: 992px) and (min-width: 769px){

							font: 13px Roboto-Condensed-Light;
							line-height: 21px;
						}
					}	

					.pop-up-link {

						@include pop-up-link(20px);
					}
				}

				.left-up-first-header {
					position: absolute;
					top: 60%;
					left: 46%;

					@media screen and (max-width: 1200px) and (min-width: 993px){
						top: 72%;
    					left: 40%;
					}

					@media screen and (max-width: 992px) and (min-width: 769px){
						top: 72%;
    					left: 40%;
					}

					@media screen and (max-width: 768px) and (min-width: 481px){
						position: static;
						margin: 0;
					    text-align: center;
					    font-size: 30px;
					    margin-top: -41px;
					}

					@media screen and (max-width: 480px) and (min-width: 320px){
						position: static;
						margin: 0;
					    text-align: center;
					    font-size: 24px;
					    margin-top: -34px;
					}
				}
			}

			.projects-left-up-second {
				width: 55%;
				float: left;
				position: relative;

				@media screen and (max-width: 768px) and (min-width: 320px){
					float: none;
					width: 100%;
				}

				.left-up-second-text {
					position: absolute;
					top: 15%;
					left: 15%;

					@media screen and (max-width: 1200px) and (min-width: 993px){
						top: 22%;
						left: 10%;
					}

					@media screen and (max-width: 992px) and (min-width: 769px){
						top: 32%;
						left: 5%;
					}

					@media screen and (max-width: 480px) and (min-width: 320px){
						top: 15%;
						left: 4%;
					}

					.name-header {
						padding-left: 30px;
					}

					.link-view {
						display: block;
						margin: 70px 0 105px;
					}

					.rate {
					    text-align: center;
					    width: 65%;
					}
				}
			}
		}	

		/*--- PROJECT-left-center ---*/

		.projects-left-center {
			overflow: hidden;
		
			.projects-left-center-first {
				width: 29%;
				float: left;
				position: relative;

				@media screen and (max-width: 480px) and (min-width: 320px){
					width: 100%;
					float: none;
				} 

				.left-center-first-text {
					position: absolute;
					top: 6.5%;
					left: 9%;

					.name-header,
					.name-list-item,
					.link-view,
					.rate-heart {
						color: #fefefe;
					}

					.name-list-item {
						font-weight: 300;
					}

					.link-view {
						display: block;
					    margin: 35px 0 30px;

						@media screen and (max-width: 992px) and (min-width: 769px){
							margin-top: 10px;
						}    

					    &:hover {
							text-decoration: none;
							color: $socials_color;
						}
					}

					.rate {
					    text-align: center;
					}
				}	
			}

			.projects-left-center-second {
				width: 71%;
				float: left;
				position: relative;

				@media screen and (max-width: 480px) and (min-width: 320px){
					width: 100%;
					float: none;
				} 

				.left-center-second-text {
					position: absolute;
					top: 19%;
					left: 49%;

					@media screen and (max-width: 480px) and (min-width: 320px){
						top: 4%;
					} 

					.block-upper {
						float: left;

						@media screen and (max-width: 1200px) and (min-width: 993px){
							.name-header {
								padding-left: 30px;
							}
						}
					}

					.block-downer {
						float: left;
    					padding: 10px 0 0 30px;

    					.rate {
    						text-align: center;
    						padding-top: 20px;
    					}
					}
				}
			}
		}

		/*--- PROJECT-left-down ---*/

		.projects-left-down {
			overflow: hidden;
		
			.projects-left-down-first {
				width: 70%;
				float: left;
				position: relative;

				@media screen and (max-width: 768px) and (min-width: 320px){
					float: none;
					width: 100%;
				}

				.left-down-first-text {
					position: absolute;
					top: 67%;
					left: 21%;

					@media screen and (max-width: 480px) and (min-width: 320px){
						top: 70%;
						left: 8%;
					} 

					.block-upper {
						float: left;
						
						.name-header {
							line-height: 18px;

							@media screen and (max-width: 1200px) and (min-width: 993px){
								line-height: 64px;
							}
						}
					}

					.block-downer {
						float: left;
						padding-top: 25px;
	    				padding-left: 30px;

	    				@media screen and (max-width: 480px) and (min-width: 320px){
							padding-top: 2px;
						} 

						.rate {
							float: right;
							text-align: center;
							padding-left: 30px;
						}
					}
				}
			}

			.projects-left-down-second {
				width: 30%;
				float: left;
				position: relative;

				@media screen and (max-width: 768px) and (min-width: 320px){
					float: none;
					width: 100%;
				}

				.left-down-second-text {
					position: absolute;
					top: 22%;
					left: 50%;

					@media screen and (max-width: 768px) and (min-width: 481px){
						top: 55%;
					}

					@media screen and (max-width: 480px) and (min-width: 320px){
						top: 37%;
						left: 57%;
					}					

					.block-downer {
						padding-top: 30px;
						margin-left: -25px;

						.rate {
							text-align: center;
							padding-top: 20px;
						}
					}
				}
			}
		}			
	}

/*--- PROJECT-right ---*/	

	.projects-right {
		width: 31%;
		float: left;

		@media screen and (max-width: 768px) and (min-width: 320px){
			float: none;
			width: 100%;
		}

		.projects-right-item-1 {
			position: relative;

			.right-item-1-text {
				position: absolute;
				top: 6%;
				left: 6%;

				@media screen and (max-width: 992px) and (min-width: 769px){
					top: 27%;
					left: 2%;

					.block-upper {
						padding-bottom: 25px;
						padding-left: 15px;
					}
				}

				.name-header {
					@media screen and (max-width: 1200px) and (min-width: 993px){
    					margin-bottom: 0;
    				}
				}

				.list-span {
					width: 42%;
    				line-height: 14px;
    				font-size: 13px;

    				@media screen and (max-width: 1200px) and (min-width: 320px){
    					display: none;
    				}
				}

				.rate {
					text-align: center;
					width: 42%;
					padding-top: 3%;
				}
			}
		}

		.projects-right-item-2 {
			position: relative;

			.right-item-2-text {
				position: absolute;
				top: 70%;
				left: 10%;	

				.block-upper {
					float: left;
				}

				.block-downer {
					float: left;
					padding-top: 40px;
    				padding-left: 25px;

    				@media screen and (max-width: 992px) and (min-width: 769px){
    					padding-top: 0;
    				}

					.rate {
						float: right;
						text-align: center;
						padding-left: 25px;
					}
				}
			}
		}	

		.projects-right-item-3 {
			position: relative;

			.right-item-3-text {
				position: absolute;
				top: 15%;
				left: 53%;	

				.block-downer {
					padding-top: 15px;

					.rate {
						padding-top: 15px;
	    				text-align: center;
					}					
				}
			}
		}

		.projects-right-item-4 {
			position: relative;
			background: linear-gradient(-40deg, #EBB240 55.5%, #fff 55.5%, #EBB240 56%);
			height: 279px;

			@media screen and (max-width: 1200px) and (min-width: 993px){
				height: 205px;
			}

			@media screen and (max-width: 993px) and (min-width: 769px){
				height: 157px;
			}

			@media screen and (max-width: 768px) and (min-width: 481px){
				height: 70px;
				background: #EBB240;  
			}

			@media screen and (max-width: 480px) and (min-width: 320px){
				height: 50px;
				background: #EBB240;  
			}

			.right-item-4-text {
				position: absolute;
				top: 20%;
				left: 22%;

				@media screen and (max-width: 1200px) and (min-width: 993px){
					top: 28%;
   					left: 68%;
				}

				@media screen and (max-width: 992px) and (min-width: 769px){
					top: 18%;
   					left: 70%;
				}

				@media screen and (max-width: 768px) and (min-width: 481px){
					position: static;

					p {					
						text-align: center;
						line-height: 70px;
						font: 30px Roboto-Condensed-Regular;
						color: #fff;
						margin-top: -52px;
					}
				}

				@media screen and (max-width: 480px) and (min-width: 320px){
					position: static;

					p {					
						text-align: center;
						line-height: 70px;
						font: 24px Roboto-Condensed-Regular;
						color: #fff;
						margin-top: -42px;
					}
				}

				.project-menu-icon {
					@include menu-icon;
				}

				.name-list {
					@media screen and (max-width: 1200px) and (min-width: 320px){
						display: block;
						text-align: right;
					}

					@media screen and (max-width: 992px) and (min-width: 769px){
						text-align: center;
					}	

					@media screen and (max-width: 992px) and (min-width: 769px){

						.name-link {
							font: 13px Roboto-Condensed-Light;
							line-height: 17px;

							@media screen and (max-width: 992px) and (min-width: 769px){
								line-height: 21px;
							}
						}
					}

					@include pop-up-list;

						.pop-up-link {
							@include pop-up-link(40px);
						}


					.close-icon {
						@include close-icon;
					}	
				}	
			}
		}			
	}
}
/*---END OF PROJECT---*/

/*---STUDIO---*/

.row-studio {
	background-color: #E9EAE2;

	@media screen and (max-width: 1200px) and (min-width: 993px){
		padding: 20px 0;	
		}

	.studio-name {
		background: linear-gradient(-47deg, #FF9B6D 49.5%, #fff 49.5%, #FF9B6D 50%);
		

		@media screen and (max-width: 1200px) and (min-width: 993px){
			height: 400px;
		}

		@media screen and (max-width: 992px) and (min-width: 769px){
			
			background: #FF9B6D;
		}

		@media screen and (max-width: 768px) and (min-width: 320px){
		
			background: #FF9B6D;
		}

	}

	.studio-text {
		padding: 95px 30px 60px 60px;

		@media screen and (max-width: 1200px) and (min-width: 993px){
			padding: 30px;
			padding-bottom: 0;
		}

		@media screen and (max-width: 992px) and (min-width: 769px){
			padding: 25px;
			padding-bottom: 0;
		}

		@media screen and (max-width: 768px) and (min-width: 481px){
			padding: 10px;
			padding-bottom: 0;
		}

		@media screen and (max-width: 480px) and (min-width: 320px){
			padding: 10px;
			padding-bottom: 0;
		}

		p {
			font: 18px Roboto-Condensed-Italic;
			color: #333;
			line-height: 18px;
			margin: 0 0 20px;

			@media screen and (max-width: 1200px) and (min-width: 993px){
				font-size: 16px;
				margin-bottom: 10px;
			}

			@media screen and (max-width: 992px) and (min-width: 769px){
				margin-bottom: 0;
				text-align: justify;
				font-size: 16px;
			}

			@media screen and (max-width: 768px) and (min-width: 481px){
				margin-bottom: 0;
				text-align: justify;
				font-size: 16px;
			}

			@media screen and (max-width: 480px) and (min-width: 320px){
				margin-bottom: 0;
				text-align: justify;
				font-size: 16px;
			}

		}

		.studio-text-down {
			padding-bottom: 30px;
			padding-top: 25px;

			@media screen and (max-width: 1200px) and (min-width: 993px){
				padding-top: 20px;
				padding-down: 0;
			}

			@media screen and (max-width: 992px) and (min-width: 320px){
				padding-bottom: 0;
			}

			p {
				font-family: Roboto-Condensed-Light;
				font-weight: 300;
			}
		}
	}

	.studio-awards {
		padding: 95px 30px 60px;

		@media screen and (max-width: 1200px) and (min-width: 993px){
			padding: 30px 20px;
		}

		@media screen and (max-width: 992px) and (min-width: 769px){
			padding: 30px;
			text-align: center;
		}

		@media screen and (max-width: 768px) and (min-width: 481px){
			padding: 30px 10px;
			text-align: center;
		}

		@media screen and (max-width: 480px) and (min-width: 320px){
			padding: 30px 10px;
			text-align: center;
		}

		img {
			width: 100%;

			@media screen and (max-width: 992px) and (min-width: 769px){
				width: 80%;
			}
		}

		.name-list-item {
			padding-top: 40px;
			padding-bottom: 5px;
		    border-bottom: 1px solid #BFC0B9;
		    margin-right: 35px;

		    @media screen and (max-width: 992px) and (min-width: 320px){
		    	margin-right: 0;
		    }
		}

		ul {
			padding-left: 0;

			li {
				float: left;
				width: 50%;
				list-style: none;

				@media screen and (max-width: 768px) and (min-width: 481px){
					padding: 5px;
				}

				@media screen and (max-width: 480px) and (min-width: 320px){
					padding: 5px;
				}

				.list-span {
					text-transform: uppercase;

					@media screen and (max-width: 1200px) and (min-width: 993px){
						font-size: 13px;
					}
				}
			}			
		}
	}
}

.studio-staff {
	padding: 0 10px 90px 40px;
	color: #4B4B4A;

	@media screen and (max-width: 1200px) and (min-width: 993px){
		padding: 0 15px;	
	}

	@media screen and (max-width: 992px) and (min-width: 769px){
		padding: 30px;
	}

	@media screen and (max-width: 768px) and (min-width: 481px){
		padding: 30px 10px;
	}

	@media screen and (max-width: 480px) and (min-width: 320px){
		padding: 30px 10px 0;
	}

	.name-list-item {
		font-size: 14px;

		@media screen and (max-width: 992px) and (min-width: 320px){
			text-align: center;
		}
	}

	.list-span {
		margin: 0 0 15px;

		@media screen and (max-width: 992px) and (min-width: 320px){
			margin-bottom: 10px;
			text-align: justify;
			font-size: 16px;
			line-height: 18px;
		}
	}
}

.studio-people {
	padding-left: 30px;

	@media screen and (max-width: 1200px) and (min-width: 993px){
		padding-top: 28px;	
		padding-left: 15px;
	}

	@media screen and (max-width: 992px) and (min-width: 481px){
		padding-left: 0;
	    text-align: center;
	    width: 75%;
	    margin: 0 auto;
	    border-bottom: 1px solid $socials_second_color;
	    overflow: hidden;
	    padding-top: 25px;
	    padding-right: 0;

	    &:last-child {
	    	border-bottom: none;
	    }
	}

	@media screen and (max-width: 480px) and (min-width: 320px){
		padding-left: 0;
	    text-align: center;
	    width: 75%;
	    margin: 0 auto;
	    border-bottom: 1px solid $socials_second_color;
	    overflow: hidden;
	    padding-top: 25px;
	    padding-right: 0;

	    &:last-child {
	    	border-bottom: none;
	    }
	}

	img {
		width: 100%;

		@media screen and (max-width: 992px) and (min-width: 481px){
			width: 75%;
		}

		@media screen and (max-width: 480px) and (min-width: 320px){
			width: 100%;
		}
	}

	.name-list-item {
		padding-top: 15px;
	    margin-bottom: 0;
	    font-size: 14px;
	}

	.list-span {
		text-transform: uppercase;
	}

	.studio-person {

		@media screen and (max-width: 992px) and (min-width: 320px){
			width: 90%;
		}

		.studio-person-cv {
			width: 30%;
			float: left;
			
			a {
				color: $socials_second_color;
				font-family: Roboto-Condensed-Regular;
				text-transform: uppercase;

				&:hover {
					text-decoration: none;
					color: $socials_color;
				}
			}
		}

		.studio-person-socials {
			width: 70%;
			float: right;
			text-align: right;

			@media screen and (max-width: 992px) and (min-width: 769px){
				font-size: 20px;
			}
			
			a {
				color: $socials_second_color;
				margin-left: 6px;
				padding: 0 2px;

				@media screen and (max-width: 768px) and (min-width: 481px){
					margin-left: 20px;
				}

				@media screen and (max-width: 480px) and (min-width: 320px){
					font-size: 20px;
					margin-left: 12px;
				}

				&:hover {
					text-decoration: none;
					color: $socials_color;
				}
			}
		}		
	}
}
/*---END OF STUDIO---*/


/*---NEWS---*/

.row-news {
	background-color: #E5E9DF;

	@media screen and (max-width: 992px) and (min-width: 320px){
		border-bottom: 1px solid #DEB887;
	}

	.news-name {
		
		background: linear-gradient(-47deg, #D4EDBF 49.5%, #fff 49.5%, #D4EDBF 50%);
		

		@media screen and (max-width: 992px) and (min-width: 769px){
			background: #D4EDBF;
			margin-top: 20px;
		}

		@media screen and (max-width: 768px) and (min-width: 481px){
			background: #D4EDBF;
			margin-top: 20px;
		}

		@media screen and (max-width: 480px) and (min-width: 320px){
			background: #D4EDBF;
			margin-top: 20px;
		}
	}

	.news-section {

		@media screen and (max-width: 768px) and (min-width: 481px){
			padding: 10px;
		}

		@media screen and (max-width: 480px) and (min-width: 320px){
			padding: 10px;
		}

		table {
			margin-bottom: 25px;

			tr {
				vertical-align: top;

				&:last-child {
					text-align: right;
				}

				td {
					width: 50%;

					&:first-child {
						padding: 0 15px 0 70px;

						@media screen and (max-width: 1200px) and (min-width: 769px){
							padding: 0 15px;
						}

						@media screen and (max-width: 768px) and (min-width: 481px){
							padding: 0 10px 0 0;
						}

						@media screen and (max-width: 480px) and (min-width: 320px){
							padding: 0 10px 0 0;
						}
					}

					&:last-child {
						padding: 0 70px 0 15px;

						@media screen and (max-width: 1200px) and (min-width: 769px){
							padding: 0 15px;
						}

						@media screen and (max-width: 768px) and (min-width: 481px){
							padding: 0 0 0 10px;
						}

						@media screen and (max-width: 480px) and (min-width: 320px){
							padding: 0 0 0 10px;
						}
					}

					h1 {
						color: #333;
						font: 24px Roboto-Condensed-Bold;
						font-weight: 700;
						line-height: 24px;
						text-transform: uppercase;
						text-align: justify;

						@media screen and (max-width: 768px) and (min-width: 481px){
							font-size: 16px;
						}

						@media screen and (max-width: 480px) and (min-width: 320px){
							font-size: 14px;
							text-align: left;
						}
					}

					.news-text {
						color: #6a6969;
						font: 12px Roboto-Condensed-Regular;
						font-weight: 400;
						line-height: 24px;
						text-transform: uppercase;
					}

					img {
						width: 100%;
					}

					.news-about {
						word-spacing: 4px;
						text-align: justify;
						text-align-last: justify;
						text-transform: none;
						line-height: 15px;
						padding-top: 20px;
					}

					.news-link {
						color: #fd5000;
						line-height: 14px;

						&:hover {
							text-decoration: none;
							color: $socials_color;
						}
					}
				}
			}			
		}
	}
}

/*---END OF NEWS---*/

/*---FOOTER---*/

.footer-map {
	padding-right: 0;
    padding-left: 0;
    line-height: 0;
    font-size: 0;

	@media screen and (max-width: 768px) and (min-width: 481px){
		padding: 50px;
	    background: #E9EAE2;
    }	

    @media screen and (max-width: 480px) and (min-width: 320px){
		padding: 40px;
	    background: #E9EAE2;
    }	
        
	iframe {
		width: 100%;
		height: 100%;
		height: 625px;

		@media screen and (max-width: 1200px) and (min-width: 993px){
			height: 522px;	
		}

		@media screen and (max-width: 992px) and (min-width: 769px){
			height: 368px;
		}

		@media screen and (max-width: 768px) and (min-width: 481px){
			height: 300px;
		}

		@media screen and (max-width: 480px) and (min-width: 320px){
			height: 250px;
		}
	}
}

.footer-info {
	background-color: #E9EAE2;
	padding: 140px 115px 50px;

	@media screen and (max-width: 1200px) and (min-width: 993px){
		padding: 80px 70px 40px;	
	}

	@media screen and (max-width: 992px) and (min-width: 769px){
		padding: 30px;
	}

	@media screen and (max-width: 768px) and (min-width: 481px){
		padding: 20px;
	}

	@media screen and (max-width: 480px) and (min-width: 320px){
		padding: 20px;
	}

	.footer-find-us {
		width: 50%;
		float: left;

		@media screen and (max-width: 992px) and (min-width: 769px){
			padding-top: 15px;
		}

		@media screen and (max-width: 768px) and (min-width: 481px){
			float: right;
			padding-top: 0;
		}

		@media screen and (max-width: 480px) and (min-width: 320px){
			float: right;
			padding-top: 0;
		}

		.adress,
		.number {
			color: #333;
		}

		.number {
			padding-top: 15px;
		}
	}

	.footer-logo {
		width: 50%;
		float: left;

		@media screen and (max-width: 768px) and (min-width: 481px){
			padding-left: 30px;
		}

		@media screen and (max-width: 1200px) and (min-width: 993px){
			img {
				width: 70%;
			}	
		}

		@media screen and (max-width: 992px) and (min-width: 769px){
			img {
				width: 70%;
			}

			.logo-socials {
				padding-top: 0;
				padding-left: 0;
			}
		}

		@media screen and (max-width: 768px) and (min-width: 320px){
			img {
				width: 40%;
			}

			.logo-socials {
				padding-top: 0;
				padding-left: 0;
			}
		}
	}

	.clearfix {
		clear: both;
	}

	.footer-rights {
		padding-top: 75px;
		color: #191919;
		font: 12px Roboto-Condensed-Regular;
		font-weight: 400;
		line-height: 22px;

		@media screen and (max-width: 992px) and (min-width: 769px){
			padding-top: 40px;
			margin: 0 -15px;
		}

		@media screen and (max-width: 768px) and (min-width: 320px){
			padding-top: 40px;
			line-height: 14px;
		}
	}
}
/*---END OF FOOTER---*/


