/*Roboto-Condensed-Bold*/
/*Roboto-Condensed-Regular*/
/*Roboto-Condensed-Light*/
/*Roboto-Condensed-Italic*/
* {
  box-sizing: border-box; }

.image-main {
  width: 100%; }

.list {
  list-style: none;
  padding-left: 0; }
  .list .list-item-link {
    color: #393d3c;
    font: 18px Roboto-Condensed-Regular;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase; }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .list .list-item-link {
        font-size: 15px; } }

.logo-socials {
  padding-top: 35px;
  padding-left: 20px; }
  .logo-socials .logo-socials-link {
    font-size: 22px;
    color: #7ACEC3;
    margin-right: 3px; }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .logo-socials .logo-socials-link {
        margin-right: 20px; } }
    .logo-socials .logo-socials-link:hover {
      color: #FD5000; }

.adress,
.number {
  font: 13px Roboto-Condensed-Regular;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff; }
  @media screen and (max-width: 992px) and (min-width: 769px) {
    .adress,
    .number {
      font: 12px Roboto-Condensed-Light; } }
  .adress p,
  .number p {
    line-height: 14px;
    margin: 0; }

.header-main {
  color: #fefefe;
  font: 48px Roboto-Condensed-Regular;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase; }
  @media screen and (max-width: 1200px) and (min-width: 993px) {
    .header-main {
      font-size: 35px; } }
  @media screen and (max-width: 992px) and (min-width: 769px) {
    .header-main {
      font-size: 25px; } }

.name-header {
  color: #333;
  font: 24px Roboto-Condensed-Light;
  text-transform: uppercase;
  margin-top: 0; }

.name-list {
  padding-left: 0;
  margin-bottom: 0; }
  @media screen and (max-width: 1200px) and (min-width: 320px) {
    .name-list {
      display: none; } }

.name-list-item {
  list-style: none;
  color: #333;
  font: 12px Roboto-Condensed-Regular;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase; }

.list-span {
  font-family: Roboto-Condensed-Light; }

.name-link {
  font: 13px Roboto-Condensed-Regular;
  color: #fff;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase; }
  .name-link:hover {
    color: #000;
    text-decoration: none; }
    .name-link:hover:hover:before {
      content: "\f178";
      font-family: FontAwesome;
      color: #fff;
      margin-left: -18px;
      padding-right: 5px; }

.link-view {
  color: #333;
  font: 18px Roboto-Condensed-Light;
  font-weight: 300;
  line-height: 12px;
  text-transform: uppercase; }
  @media screen and (max-width: 992px) and (min-width: 769px) {
    .link-view {
      font-size: 16px; } }
  .link-view:hover {
    text-decoration: none;
    color: #7ACEC3; }
  .link-view:before {
    content: "\f178";
    font-family: FontAwesome;
    color: #EBB240;
    margin-left: -18px;
    padding-right: 5px;
    padding-left: 20px; }

@media screen and (max-width: 1200px) and (min-width: 320px) {
  .rate {
    display: none; } }
.rate .rate-heart {
  color: #333;
  font-size: 20px; }
.rate .rating {
  color: #F56D6D;
  font: 11px Roboto-Condensed-Light;
  font-weight: 300;
  line-height: 12px;
  text-transform: uppercase; }

.block-height {
  position: relative;
  height: 472px; }
  @media screen and (max-width: 1200px) and (min-width: 993px) {
    .block-height {
      height: 397px; } }
  @media screen and (max-width: 992px) and (min-width: 769px) {
    .block-height {
      height: 100px; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .block-height {
      height: 70px; } }
  .block-height .news-name-header,
  .block-height .studio-name-header {
    position: absolute;
    top: 59%;
    left: 46%; }
    @media screen and (max-width: 992px) and (min-width: 769px) {
      .block-height .news-name-header,
      .block-height .studio-name-header {
        position: static;
        margin: 0;
        text-align: center;
        line-height: 100px; } }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .block-height .news-name-header,
      .block-height .studio-name-header {
        position: static;
        margin: 0;
        text-align: center;
        line-height: 70px;
        font-size: 30px; } }

/*---HEADER---*/
.header-row {
  position: relative; }
  .header-row .header-menu-list {
    display: none;
    position: absolute;
    top: 10%;
    right: 8.3%;
    z-index: 2;
    background-color: #F8C255; }
    @media screen and (max-width: 1200px) and (min-width: 993px) {
      .header-row .header-menu-list {
        top: 5%;
        right: 8%; } }
    @media screen and (max-width: 992px) and (min-width: 769px) {
      .header-row .header-menu-list {
        top: 10%;
        right: 8%; } }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .header-row .header-menu-list {
        top: 51%;
        right: 40%; } }
    .header-row .header-menu-list ul {
      list-style: none;
      float: left;
      margin-bottom: 0;
      padding: 40px 20px; }
      @media screen and (max-width: 1200px) and (min-width: 993px) {
        .header-row .header-menu-list ul {
          padding: 30px 10px; } }
      @media screen and (max-width: 992px) and (min-width: 769px) {
        .header-row .header-menu-list ul {
          padding: 20px 0; } }
      @media screen and (max-width: 768px) and (min-width: 481px) {
        .header-row .header-menu-list ul {
          padding: 50px 0 20px;
          text-align: center;
          float: left;
          margin-bottom: 0; } }
      .header-row .header-menu-list ul li {
        display: inline; }
        @media screen and (max-width: 768px) and (min-width: 481px) {
          .header-row .header-menu-list ul li {
            display: block; } }
        .header-row .header-menu-list ul li a {
          color: #fff;
          font: 14px Roboto-Condensed-Regular;
          font-weight: 400;
          line-height: 25px;
          text-transform: uppercase;
          margin: 20px; }
          @media screen and (max-width: 992px) and (min-width: 769px) {
            .header-row .header-menu-list ul li a {
              font: 13px Roboto-Condensed-Light;
              margin: 15px; } }
          @media screen and (max-width: 768px) and (min-width: 481px) {
            .header-row .header-menu-list ul li a {
              line-height: 30px; } }
    .header-row .header-menu-list .menu-list-close {
      padding: 35px;
      font-size: 35px;
      color: #fff;
      cursor: pointer; }
      @media screen and (max-width: 1200px) and (min-width: 993px) {
        .header-row .header-menu-list .menu-list-close {
          padding: 25px; } }
      @media screen and (max-width: 992px) and (min-width: 769px) {
        .header-row .header-menu-list .menu-list-close {
          padding: 18px;
          font-size: 30px; } }
      @media screen and (max-width: 768px) and (min-width: 481px) {
        .header-row .header-menu-list .menu-list-close {
          padding: 15px 0 0;
          text-align: center;
          margin-left: -62px;
          font-size: 30px; } }

.header-img {
  position: relative;
  padding: 0; }
  .header-img .header-image {
    background-color: #E9EAE2; }
  .header-img .header-logo {
    position: absolute;
    top: 50px;
    left: 170px; }
    @media screen and (max-width: 1200px) and (min-width: 993px) {
      .header-img .header-logo {
        top: 25px;
        left: 100px; }
        .header-img .header-logo .logo-socials {
          padding-top: 35px;
          padding-left: 20px; } }
    @media screen and (max-width: 992px) and (min-width: 769px) {
      .header-img .header-logo {
        top: 25px;
        left: 25px; }
        .header-img .header-logo .logo-socials {
          float: right;
          padding-top: 0;
          margin-top: -35px; } }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .header-img .header-logo {
        top: 20px;
        left: 40px; }
        .header-img .header-logo .logo-socials {
          padding-top: 0;
          padding-left: 0; } }
    .header-img .header-logo .logo-image {
      width: 70%; }
      @media screen and (max-width: 768px) and (min-width: 481px) {
        .header-img .header-logo .logo-image {
          width: 40%; } }

.header-menu {
  height: 451px;
  position: relative;
  background: -webkit-linear-gradient(143deg, #7ACEC3 49.5%, #fff 49.5%, #7ACEC3 50%);
  background: linear-gradient(-53deg, #7ACEC3 49.5%, #fff 49.5%, #7ACEC3 50%); }
  @media screen and (max-width: 1200px) and (min-width: 993px) {
    .header-menu {
      height: 327px; } }
  @media screen and (max-width: 992px) and (min-width: 769px) {
    .header-menu {
      height: 252px;
      background: #7ACEC3; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .header-menu {
      height: 252px;
      background: #7ACEC3; } }
  .header-menu .header-menu-for-icon {
    text-align: center; }
    .header-menu .header-menu-for-icon .header-menu-icon {
      text-align: center;
      color: #fff;
      font-size: 35px;
      padding: 8% 12%;
      margin-top: 50px;
      border: 3px solid #fff;
      cursor: pointer; }
      @media screen and (max-width: 1200px) and (min-width: 993px) {
        .header-menu .header-menu-for-icon .header-menu-icon {
          margin-top: 20px; } }
      @media screen and (max-width: 992px) and (min-width: 769px) {
        .header-menu .header-menu-for-icon .header-menu-icon {
          font-size: 30px;
          border: 1px solid #fff;
          margin-top: 30px; } }
      @media screen and (max-width: 768px) and (min-width: 481px) {
        .header-menu .header-menu-for-icon .header-menu-icon {
          font-size: 30px;
          border: 1px solid #fff;
          margin-top: 30px;
          padding: 30px; } }
  .header-menu .header-adress {
    position: absolute;
    bottom: 180px;
    left: 45px; }
    @media screen and (max-width: 1200px) and (min-width: 993px) {
      .header-menu .header-adress {
        bottom: 150px;
        left: 20px; } }
    @media screen and (max-width: 992px) and (min-width: 769px) {
      .header-menu .header-adress {
        bottom: 70px;
        left: 25px; } }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .header-menu .header-adress {
        bottom: 45px;
        left: 45px; } }
  .header-menu .header-number {
    position: absolute;
    bottom: 102px;
    left: 138px; }
    @media screen and (max-width: 992px) and (min-width: 769px) {
      .header-menu .header-number {
        bottom: 25px;
        left: 25px; } }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .header-menu .header-number {
        bottom: 45px;
        left: 310px; } }

/*---END OF HEADER---*/
/*--- PROJECT ---*/
.container-projects {
  width: 100%
  /*--- PROJECT-left ---*/
  /*--- PROJECT-right ---*/ }
  .container-projects .projects-left {
    width: 69%;
    float: left
    /*--- PROJECT-left-up ---*/
    /*--- PROJECT-left-center ---*/
    /*--- PROJECT-left-down ---*/ }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .container-projects .projects-left {
        float: none;
        width: 100%; } }
    .container-projects .projects-left .projects-left-up {
      overflow: hidden; }
      .container-projects .projects-left .projects-left-up .projects-left-up-first {
        width: 45%;
        float: left;
        height: 449px;
        position: relative;
        background: -webkit-linear-gradient(137deg, #EBB240 49.5%, #fff 49.5%, #EBB240 50%);
        background: linear-gradient(-47deg, #EBB240 49.5%, #fff 49.5%, #EBB240 50%); }
        @media screen and (max-width: 1200px) and (min-width: 993px) {
          .container-projects .projects-left .projects-left-up .projects-left-up-first {
            height: 327px; } }
        @media screen and (max-width: 992px) and (min-width: 769px) {
          .container-projects .projects-left .projects-left-up .projects-left-up-first {
            height: 251px; } }
        @media screen and (max-width: 768px) and (min-width: 481px) {
          .container-projects .projects-left .projects-left-up .projects-left-up-first {
            height: 70px;
            background: #EBB240;
            float: none;
            width: 100%; } }
        .container-projects .projects-left .projects-left-up .projects-left-up-first .project-menu-icon {
          display: none; }
          @media screen and (max-width: 768px) and (min-width: 320px) {
            .container-projects .projects-left .projects-left-up .projects-left-up-first .project-menu-icon {
              display: block;
              font-size: 25px;
              color: #fff;
              padding-left: 55px;
              cursor: pointer;
              line-height: 70px; } }
        @media screen and (max-width: 1200px) and (min-width: 320px) {
          .container-projects .projects-left .projects-left-up .projects-left-up-first .name-list {
            display: block; } }
        .container-projects .projects-left .projects-left-up .projects-left-up-first .left-up-first-text {
          position: absolute;
          top: 30%;
          left: 25%; }
          @media screen and (max-width: 1200px) and (min-width: 993px) {
            .container-projects .projects-left .projects-left-up .projects-left-up-first .left-up-first-text {
              top: 20%;
              left: 20%; } }
          @media screen and (max-width: 992px) and (min-width: 769px) {
            .container-projects .projects-left .projects-left-up .projects-left-up-first .left-up-first-text {
              top: 15%;
              left: 15%; } }
          @media screen and (max-width: 768px) and (min-width: 481px) {
            .container-projects .projects-left .projects-left-up .projects-left-up-first .left-up-first-text {
              top: 10%;
              left: 2%;
              z-index: 5;
              background: #7ACEC3;
              padding: 10px 0 20px;
              text-align: center;
              display: none; } }
          .container-projects .projects-left .projects-left-up .projects-left-up-first .left-up-first-text .project-list-close {
            display: none; }
            @media screen and (max-width: 768px) and (min-width: 481px) {
              .container-projects .projects-left .projects-left-up .projects-left-up-first .left-up-first-text .project-list-close {
                display: block;
                font-size: 30px;
                color: #fff;
                cursor: pointer; } }
          @media screen and (max-width: 992px) and (min-width: 769px) {
            .container-projects .projects-left .projects-left-up .projects-left-up-first .left-up-first-text .name-link {
              font: 13px Roboto-Condensed-Light;
              line-height: 21px; } }
          @media screen and (max-width: 768px) and (min-width: 481px) {
            .container-projects .projects-left .projects-left-up .projects-left-up-first .left-up-first-text .name-link {
              font-size: 14px;
              line-height: 30px;
              margin: 20px; }
              .container-projects .projects-left .projects-left-up .projects-left-up-first .left-up-first-text .name-link:hover {
                text-decoration: underline;
                color: #fff; }
                .container-projects .projects-left .projects-left-up .projects-left-up-first .left-up-first-text .name-link:hover:hover:before {
                  content: "";
                  margin-left: 0;
                  padding-right: 0;
                  padding-left: 0; } }
        .container-projects .projects-left .projects-left-up .projects-left-up-first .left-up-first-header {
          position: absolute;
          top: 60%;
          left: 46%; }
          @media screen and (max-width: 1200px) and (min-width: 993px) {
            .container-projects .projects-left .projects-left-up .projects-left-up-first .left-up-first-header {
              top: 72%;
              left: 40%; } }
          @media screen and (max-width: 992px) and (min-width: 769px) {
            .container-projects .projects-left .projects-left-up .projects-left-up-first .left-up-first-header {
              top: 72%;
              left: 40%; } }
          @media screen and (max-width: 768px) and (min-width: 481px) {
            .container-projects .projects-left .projects-left-up .projects-left-up-first .left-up-first-header {
              position: static;
              margin: 0;
              text-align: center;
              font-size: 30px;
              margin-top: -41px; } }
      .container-projects .projects-left .projects-left-up .projects-left-up-second {
        width: 55%;
        float: left;
        position: relative; }
        @media screen and (max-width: 768px) and (min-width: 481px) {
          .container-projects .projects-left .projects-left-up .projects-left-up-second {
            float: none;
            width: 100%; } }
        .container-projects .projects-left .projects-left-up .projects-left-up-second .left-up-second-text {
          position: absolute;
          top: 15%;
          left: 15%; }
          @media screen and (max-width: 1200px) and (min-width: 993px) {
            .container-projects .projects-left .projects-left-up .projects-left-up-second .left-up-second-text {
              top: 22%;
              left: 10%; } }
          @media screen and (max-width: 992px) and (min-width: 769px) {
            .container-projects .projects-left .projects-left-up .projects-left-up-second .left-up-second-text {
              top: 32%;
              left: 5%; } }
          .container-projects .projects-left .projects-left-up .projects-left-up-second .left-up-second-text .name-header {
            padding-left: 30px; }
          .container-projects .projects-left .projects-left-up .projects-left-up-second .left-up-second-text .link-view {
            display: block;
            margin: 70px 0 105px; }
          .container-projects .projects-left .projects-left-up .projects-left-up-second .left-up-second-text .rate {
            text-align: center;
            width: 65%; }
    .container-projects .projects-left .projects-left-center {
      overflow: hidden; }
      .container-projects .projects-left .projects-left-center .projects-left-center-first {
        width: 29%;
        float: left;
        position: relative; }
        .container-projects .projects-left .projects-left-center .projects-left-center-first .left-center-first-text {
          position: absolute;
          top: 6.5%;
          left: 9%; }
          .container-projects .projects-left .projects-left-center .projects-left-center-first .left-center-first-text .name-header,
          .container-projects .projects-left .projects-left-center .projects-left-center-first .left-center-first-text .name-list-item,
          .container-projects .projects-left .projects-left-center .projects-left-center-first .left-center-first-text .link-view,
          .container-projects .projects-left .projects-left-center .projects-left-center-first .left-center-first-text .rate-heart {
            color: #fefefe; }
          .container-projects .projects-left .projects-left-center .projects-left-center-first .left-center-first-text .name-list-item {
            font-weight: 300; }
          .container-projects .projects-left .projects-left-center .projects-left-center-first .left-center-first-text .link-view {
            display: block;
            margin: 35px 0 30px; }
            @media screen and (max-width: 992px) and (min-width: 769px) {
              .container-projects .projects-left .projects-left-center .projects-left-center-first .left-center-first-text .link-view {
                margin-top: 10px; } }
            .container-projects .projects-left .projects-left-center .projects-left-center-first .left-center-first-text .link-view:hover {
              text-decoration: none;
              color: #7ACEC3; }
          .container-projects .projects-left .projects-left-center .projects-left-center-first .left-center-first-text .rate {
            text-align: center; }
      .container-projects .projects-left .projects-left-center .projects-left-center-second {
        width: 71%;
        float: left;
        position: relative; }
        .container-projects .projects-left .projects-left-center .projects-left-center-second .left-center-second-text {
          position: absolute;
          top: 19%;
          left: 49%; }
          .container-projects .projects-left .projects-left-center .projects-left-center-second .left-center-second-text .block-upper {
            float: left; }
            @media screen and (max-width: 1200px) and (min-width: 993px) {
              .container-projects .projects-left .projects-left-center .projects-left-center-second .left-center-second-text .block-upper .name-header {
                padding-left: 30px; } }
          .container-projects .projects-left .projects-left-center .projects-left-center-second .left-center-second-text .block-downer {
            float: left;
            padding: 10px 0 0 30px; }
            .container-projects .projects-left .projects-left-center .projects-left-center-second .left-center-second-text .block-downer .rate {
              text-align: center;
              padding-top: 20px; }
    .container-projects .projects-left .projects-left-down {
      overflow: hidden; }
      .container-projects .projects-left .projects-left-down .projects-left-down-first {
        width: 70%;
        float: left;
        position: relative; }
        @media screen and (max-width: 768px) and (min-width: 481px) {
          .container-projects .projects-left .projects-left-down .projects-left-down-first {
            float: none;
            width: 100%; } }
        .container-projects .projects-left .projects-left-down .projects-left-down-first .left-down-first-text {
          position: absolute;
          top: 67%;
          left: 21%; }
          .container-projects .projects-left .projects-left-down .projects-left-down-first .left-down-first-text .block-upper {
            float: left; }
            .container-projects .projects-left .projects-left-down .projects-left-down-first .left-down-first-text .block-upper .name-header {
              line-height: 18px; }
              @media screen and (max-width: 1200px) and (min-width: 993px) {
                .container-projects .projects-left .projects-left-down .projects-left-down-first .left-down-first-text .block-upper .name-header {
                  line-height: 64px; } }
          .container-projects .projects-left .projects-left-down .projects-left-down-first .left-down-first-text .block-downer {
            float: left;
            padding-top: 25px;
            padding-left: 30px; }
            .container-projects .projects-left .projects-left-down .projects-left-down-first .left-down-first-text .block-downer .rate {
              float: right;
              text-align: center;
              padding-left: 30px; }
      .container-projects .projects-left .projects-left-down .projects-left-down-second {
        width: 30%;
        float: left;
        position: relative; }
        @media screen and (max-width: 768px) and (min-width: 481px) {
          .container-projects .projects-left .projects-left-down .projects-left-down-second {
            float: none;
            width: 100%; } }
        .container-projects .projects-left .projects-left-down .projects-left-down-second .left-down-second-text {
          position: absolute;
          top: 22%;
          left: 50%; }
          .container-projects .projects-left .projects-left-down .projects-left-down-second .left-down-second-text .block-downer {
            padding-top: 30px;
            margin-left: -25px; }
            .container-projects .projects-left .projects-left-down .projects-left-down-second .left-down-second-text .block-downer .rate {
              text-align: center;
              padding-top: 20px; }
  .container-projects .projects-right {
    width: 31%;
    float: left; }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .container-projects .projects-right {
        float: none;
        width: 100%; } }
    .container-projects .projects-right .projects-right-item-1 {
      position: relative; }
      .container-projects .projects-right .projects-right-item-1 .right-item-1-text {
        position: absolute;
        top: 6%;
        left: 6%; }
        @media screen and (max-width: 992px) and (min-width: 769px) {
          .container-projects .projects-right .projects-right-item-1 .right-item-1-text {
            top: 27%;
            left: 2%; }
            .container-projects .projects-right .projects-right-item-1 .right-item-1-text .block-upper {
              padding-bottom: 25px;
              padding-left: 15px; } }
        @media screen and (max-width: 1200px) and (min-width: 993px) {
          .container-projects .projects-right .projects-right-item-1 .right-item-1-text .name-header {
            margin-bottom: 0; } }
        .container-projects .projects-right .projects-right-item-1 .right-item-1-text .list-span {
          width: 42%;
          line-height: 14px;
          font-size: 13px; }
          @media screen and (max-width: 1200px) and (min-width: 320px) {
            .container-projects .projects-right .projects-right-item-1 .right-item-1-text .list-span {
              display: none; } }
        .container-projects .projects-right .projects-right-item-1 .right-item-1-text .rate {
          text-align: center;
          width: 42%;
          padding-top: 3%; }
    .container-projects .projects-right .projects-right-item-2 {
      position: relative; }
      .container-projects .projects-right .projects-right-item-2 .right-item-2-text {
        position: absolute;
        top: 70%;
        left: 10%; }
        .container-projects .projects-right .projects-right-item-2 .right-item-2-text .block-upper {
          float: left; }
        .container-projects .projects-right .projects-right-item-2 .right-item-2-text .block-downer {
          float: left;
          padding-top: 40px;
          padding-left: 25px; }
          @media screen and (max-width: 992px) and (min-width: 769px) {
            .container-projects .projects-right .projects-right-item-2 .right-item-2-text .block-downer {
              padding-top: 0; } }
          .container-projects .projects-right .projects-right-item-2 .right-item-2-text .block-downer .rate {
            float: right;
            text-align: center;
            padding-left: 25px; }
    .container-projects .projects-right .projects-right-item-3 {
      position: relative; }
      .container-projects .projects-right .projects-right-item-3 .right-item-3-text {
        position: absolute;
        top: 15%;
        left: 53%; }
        .container-projects .projects-right .projects-right-item-3 .right-item-3-text .block-downer {
          padding-top: 15px; }
          .container-projects .projects-right .projects-right-item-3 .right-item-3-text .block-downer .rate {
            padding-top: 15px;
            text-align: center; }
    .container-projects .projects-right .projects-right-item-4 {
      position: relative;
      background: -webkit-linear-gradient(130deg, #EBB240 55.5%, #fff 55.5%, #EBB240 56%);
      background: linear-gradient(-40deg, #EBB240 55.5%, #fff 55.5%, #EBB240 56%);
      height: 279px; }
      @media screen and (max-width: 1200px) and (min-width: 993px) {
        .container-projects .projects-right .projects-right-item-4 {
          height: 205px; } }
      @media screen and (max-width: 993px) and (min-width: 769px) {
        .container-projects .projects-right .projects-right-item-4 {
          height: 157px; } }
      .container-projects .projects-right .projects-right-item-4 .right-item-4-text {
        position: absolute;
        top: 20%;
        left: 22%; }
        @media screen and (max-width: 1200px) and (min-width: 993px) {
          .container-projects .projects-right .projects-right-item-4 .right-item-4-text {
            top: 28%;
            left: 68%; } }
        @media screen and (max-width: 992px) and (min-width: 769px) {
          .container-projects .projects-right .projects-right-item-4 .right-item-4-text {
            top: 18%;
            left: 70%; } }
        @media screen and (max-width: 1200px) and (min-width: 320px) {
          .container-projects .projects-right .projects-right-item-4 .right-item-4-text .name-list {
            display: block;
            text-align: right; } }
        @media screen and (max-width: 992px) and (min-width: 769px) {
          .container-projects .projects-right .projects-right-item-4 .right-item-4-text .name-list {
            text-align: center; } }
        @media screen and (max-width: 992px) and (min-width: 769px) {
          .container-projects .projects-right .projects-right-item-4 .right-item-4-text .name-list .name-link {
            font: 13px Roboto-Condensed-Light;
            line-height: 17px; } }
  @media screen and (max-width: 992px) and (min-width: 769px) and (max-width: 992px) and (min-width: 769px) {
    .container-projects .projects-right .projects-right-item-4 .right-item-4-text .name-list .name-link {
      line-height: 21px; } }

/*---END OF PROJECT---*/
/*---STUDIO---*/
.row-studio {
  background-color: #E9EAE2; }
  @media screen and (max-width: 1200px) and (min-width: 993px) {
    .row-studio {
      padding: 20px 0; } }
  .row-studio .studio-name {
    background: -webkit-linear-gradient(137deg, #FF9B6D 49.5%, #fff 49.5%, #FF9B6D 50%);
    background: linear-gradient(-47deg, #FF9B6D 49.5%, #fff 49.5%, #FF9B6D 50%); }
    @media screen and (max-width: 1200px) and (min-width: 993px) {
      .row-studio .studio-name {
        height: 400px; } }
    @media screen and (max-width: 992px) and (min-width: 769px) {
      .row-studio .studio-name {
        background: #FF9B6D; } }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .row-studio .studio-name {
        background: #FF9B6D; } }
  .row-studio .studio-text {
    padding: 95px 30px 60px 60px; }
    @media screen and (max-width: 1200px) and (min-width: 993px) {
      .row-studio .studio-text {
        padding: 30px;
        padding-bottom: 0; } }
    @media screen and (max-width: 992px) and (min-width: 769px) {
      .row-studio .studio-text {
        padding: 25px;
        padding-bottom: 0; } }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .row-studio .studio-text {
        padding: 10px;
        padding-bottom: 0; } }
    .row-studio .studio-text p {
      font: 18px Roboto-Condensed-Italic;
      color: #333;
      line-height: 18px;
      margin: 0 0 20px; }
      @media screen and (max-width: 1200px) and (min-width: 993px) {
        .row-studio .studio-text p {
          font-size: 16px;
          margin-bottom: 10px; } }
      @media screen and (max-width: 992px) and (min-width: 769px) {
        .row-studio .studio-text p {
          margin-bottom: 0;
          text-align: justify;
          font-size: 16px; } }
      @media screen and (max-width: 768px) and (min-width: 481px) {
        .row-studio .studio-text p {
          margin-bottom: 0;
          text-align: justify;
          font-size: 16px; } }
    .row-studio .studio-text .studio-text-down {
      padding-bottom: 30px;
      padding-top: 25px; }
      @media screen and (max-width: 1200px) and (min-width: 993px) {
        .row-studio .studio-text .studio-text-down {
          padding-top: 20px;
          padding-down: 0; } }
      @media screen and (max-width: 992px) and (min-width: 481px) {
        .row-studio .studio-text .studio-text-down {
          padding-bottom: 0; } }
      .row-studio .studio-text .studio-text-down p {
        font-family: Roboto-Condensed-Light;
        font-weight: 300; }
  .row-studio .studio-awards {
    padding: 95px 30px 60px; }
    @media screen and (max-width: 1200px) and (min-width: 993px) {
      .row-studio .studio-awards {
        padding: 30px 20px; } }
    @media screen and (max-width: 992px) and (min-width: 769px) {
      .row-studio .studio-awards {
        padding: 30px;
        text-align: center; } }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .row-studio .studio-awards {
        padding: 30px 10px;
        text-align: center; } }
    .row-studio .studio-awards img {
      width: 100%; }
      @media screen and (max-width: 992px) and (min-width: 769px) {
        .row-studio .studio-awards img {
          width: 80%; } }
    .row-studio .studio-awards .name-list-item {
      padding-top: 40px;
      padding-bottom: 5px;
      border-bottom: 1px solid #BFC0B9;
      margin-right: 35px; }
      @media screen and (max-width: 992px) and (min-width: 769px) {
        .row-studio .studio-awards .name-list-item {
          margin-right: 0; } }
    .row-studio .studio-awards ul {
      padding-left: 0; }
      .row-studio .studio-awards ul li {
        float: left;
        width: 50%;
        list-style: none; }
        @media screen and (max-width: 768px) and (min-width: 481px) {
          .row-studio .studio-awards ul li {
            padding: 5px; } }
        .row-studio .studio-awards ul li .list-span {
          text-transform: uppercase; }
          @media screen and (max-width: 1200px) and (min-width: 993px) {
            .row-studio .studio-awards ul li .list-span {
              font-size: 13px; } }

.studio-staff {
  padding: 0 10px 90px 40px;
  color: #4B4B4A; }
  @media screen and (max-width: 1200px) and (min-width: 993px) {
    .studio-staff {
      padding: 0 15px; } }
  @media screen and (max-width: 992px) and (min-width: 769px) {
    .studio-staff {
      padding: 30px; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .studio-staff {
      padding: 30px 10px; } }
  .studio-staff .name-list-item {
    font-size: 14px; }
    @media screen and (max-width: 992px) and (min-width: 481px) {
      .studio-staff .name-list-item {
        text-align: center; } }
  .studio-staff .list-span {
    margin: 0 0 15px; }
    @media screen and (max-width: 992px) and (min-width: 481px) {
      .studio-staff .list-span {
        margin-bottom: 10px;
        text-align: justify;
        font-size: 16px;
        line-height: 18px; } }

.studio-people {
  padding-left: 30px; }
  @media screen and (max-width: 1200px) and (min-width: 993px) {
    .studio-people {
      padding-top: 28px;
      padding-left: 15px; } }
  @media screen and (max-width: 992px) and (min-width: 481px) {
    .studio-people {
      padding-left: 0;
      text-align: center;
      width: 75%;
      margin: 0 auto;
      border-bottom: 1px solid #FD5000;
      overflow: hidden;
      padding-top: 25px;
      padding-right: 0; }
      .studio-people:last-child {
        border-bottom: none; } }
  .studio-people img {
    width: 100%; }
    @media screen and (max-width: 992px) and (min-width: 481px) {
      .studio-people img {
        width: 75%; } }
  .studio-people .name-list-item {
    padding-top: 15px;
    margin-bottom: 0;
    font-size: 14px; }
  .studio-people .list-span {
    text-transform: uppercase; }
  @media screen and (max-width: 992px) and (min-width: 481px) {
    .studio-people .studio-person {
      width: 90%; } }
  .studio-people .studio-person .studio-person-cv {
    width: 30%;
    float: left; }
    .studio-people .studio-person .studio-person-cv a {
      color: #FD5000;
      font-family: Roboto-Condensed-Regular;
      text-transform: uppercase; }
      .studio-people .studio-person .studio-person-cv a:hover {
        text-decoration: none;
        color: #7ACEC3; }
  .studio-people .studio-person .studio-person-socials {
    width: 70%;
    float: right;
    text-align: right; }
    @media screen and (max-width: 992px) and (min-width: 769px) {
      .studio-people .studio-person .studio-person-socials {
        font-size: 20px; } }
    .studio-people .studio-person .studio-person-socials a {
      color: #FD5000;
      margin-left: 6px;
      padding: 0 2px; }
      @media screen and (max-width: 768px) and (min-width: 481px) {
        .studio-people .studio-person .studio-person-socials a {
          margin-left: 20px; } }
      .studio-people .studio-person .studio-person-socials a:hover {
        text-decoration: none;
        color: #7ACEC3; }

/*---END OF STUDIO---*/
/*---NEWS---*/
.row-news {
  background-color: #E5E9DF; }
  @media screen and (max-width: 992px) and (min-width: 481px) {
    .row-news {
      border-bottom: 1px solid #DEB887; } }
  .row-news .news-name {
    background: -webkit-linear-gradient(137deg, #D4EDBF 49.5%, #fff 49.5%, #D4EDBF 50%);
    background: linear-gradient(-47deg, #D4EDBF 49.5%, #fff 49.5%, #D4EDBF 50%); }
    @media screen and (max-width: 992px) and (min-width: 769px) {
      .row-news .news-name {
        background: #D4EDBF;
        margin-top: 20px; } }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .row-news .news-name {
        background: #D4EDBF;
        margin-top: 20px; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .row-news .news-section {
      padding: 10px; } }
  .row-news .news-section table {
    margin-bottom: 25px; }
    .row-news .news-section table tr {
      vertical-align: top; }
      .row-news .news-section table tr:last-child {
        text-align: right; }
      .row-news .news-section table tr td {
        width: 50%; }
        .row-news .news-section table tr td:first-child {
          padding: 0 15px 0 70px; }
          @media screen and (max-width: 1200px) and (min-width: 769px) {
            .row-news .news-section table tr td:first-child {
              padding: 0 15px; } }
          @media screen and (max-width: 768px) and (min-width: 481px) {
            .row-news .news-section table tr td:first-child {
              padding: 0 10px 0 0; } }
        .row-news .news-section table tr td:last-child {
          padding: 0 70px 0 15px; }
          @media screen and (max-width: 1200px) and (min-width: 769px) {
            .row-news .news-section table tr td:last-child {
              padding: 0 15px; } }
          @media screen and (max-width: 768px) and (min-width: 481px) {
            .row-news .news-section table tr td:last-child {
              padding: 0 0 0 10px; } }
        .row-news .news-section table tr td h1 {
          color: #333;
          font: 24px Roboto-Condensed-Bold;
          font-weight: 700;
          line-height: 24px;
          text-transform: uppercase;
          text-align: justify; }
          @media screen and (max-width: 768px) and (min-width: 481px) {
            .row-news .news-section table tr td h1 {
              font-size: 16px; } }
        .row-news .news-section table tr td .news-text {
          color: #6a6969;
          font: 12px Roboto-Condensed-Regular;
          font-weight: 400;
          line-height: 24px;
          text-transform: uppercase; }
        .row-news .news-section table tr td img {
          width: 100%; }
        .row-news .news-section table tr td .news-about {
          word-spacing: 4px;
          text-align: justify;
          text-align-last: justify;
          text-transform: none;
          line-height: 15px;
          padding-top: 20px; }
        .row-news .news-section table tr td .news-link {
          color: #fd5000;
          line-height: 14px; }
          .row-news .news-section table tr td .news-link:hover {
            text-decoration: none;
            color: #7ACEC3; }

/*---END OF NEWS---*/
/*---FOOTER---*/
.footer-map {
  padding-right: 0;
  padding-left: 0;
  line-height: 0;
  font-size: 0; }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .footer-map {
      padding: 50px;
      background: #E9EAE2; } }
  .footer-map iframe {
    width: 100%;
    height: 100%;
    height: 625px; }
    @media screen and (max-width: 1200px) and (min-width: 993px) {
      .footer-map iframe {
        height: 522px; } }
    @media screen and (max-width: 992px) and (min-width: 769px) {
      .footer-map iframe {
        height: 368px; } }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .footer-map iframe {
        height: 300px; } }

.footer-info {
  background-color: #E9EAE2;
  padding: 140px 115px 50px; }
  @media screen and (max-width: 1200px) and (min-width: 993px) {
    .footer-info {
      padding: 80px 70px 40px; } }
  @media screen and (max-width: 992px) and (min-width: 769px) {
    .footer-info {
      padding: 30px; } }
  @media screen and (max-width: 768px) and (min-width: 481px) {
    .footer-info {
      padding: 20px; } }
  .footer-info .footer-find-us {
    width: 50%;
    float: left; }
    @media screen and (max-width: 992px) and (min-width: 769px) {
      .footer-info .footer-find-us {
        padding-top: 15px; } }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .footer-info .footer-find-us {
        float: right;
        padding-top: 0; } }
    .footer-info .footer-find-us .adress,
    .footer-info .footer-find-us .number {
      color: #333; }
    .footer-info .footer-find-us .number {
      padding-top: 15px; }
  .footer-info .footer-logo {
    width: 50%;
    float: left; }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .footer-info .footer-logo {
        padding-left: 30px; } }
    @media screen and (max-width: 1200px) and (min-width: 993px) {
      .footer-info .footer-logo img {
        width: 70%; } }
    @media screen and (max-width: 992px) and (min-width: 769px) {
      .footer-info .footer-logo img {
        width: 70%; }
      .footer-info .footer-logo .logo-socials {
        padding-top: 0;
        padding-left: 0; } }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .footer-info .footer-logo img {
        width: 40%; }
      .footer-info .footer-logo .logo-socials {
        padding-top: 0;
        padding-left: 0; } }
  .footer-info .clearfix {
    clear: both; }
  .footer-info .footer-rights {
    padding-top: 75px;
    color: #191919;
    font: 12px Roboto-Condensed-Regular;
    font-weight: 400;
    line-height: 22px; }
    @media screen and (max-width: 992px) and (min-width: 769px) {
      .footer-info .footer-rights {
        padding-top: 40px;
        margin: 0 -15px; } }
    @media screen and (max-width: 768px) and (min-width: 481px) {
      .footer-info .footer-rights {
        padding-top: 40px;
        line-height: 0; } }

/*---END OF FOOTER---*/

/*# sourceMappingURL=style.css.map */